<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Demo Project For Ecomm</title>
</head>
<body>
    <div>

        <h1>Demo Project For E-Commerce Website</h1>
        <form action="#", method="POST">
                <label for="username">username</label>
                <input type="text" name="username", placeholder="username">
                <label for="password">password</label>
                <input type="password" name="password", placeholder="******">
                <input type="submit" name="submit">
        </form>
    </div>
    
    
</body>
</html>